  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xl">
      <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">Musik</span></a>
      <section class="m-b-lg">
        <header class="wrapper text-center">
          <strong>Sign in to get in touch</strong>
        </header>
          <%= form_tag do %>

          <div class="form-group">
             <%= label_tag :email %>
             <%= text_field_tag :email,"", class: "form-control rounded input-lg text-center no-border" %>
          </div>

          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password,"", class: "form-control rounded input-lg text-center no-border" %>
          </div>

          <% submit_tag class: "btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded" do %>
              <i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign in</span>
          <% end %>

          <% end %>

          <div class="text-center m-t m-b"><a href="#"><small>Forgot password?</small></a></div>
          <div class="line line-dashed"></div>
          <p class="text-muted text-center"><small>Do not have an account?</small></p>
          <a href="signup.html" class="btn btn-lg btn-info btn-block rounded">Create an account</a>
      </section>
    </div>
  </section>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder">
      <p>
        <small>Web app framework base on Bootstrap<br>&copy; 2014</small>
      </p>
    </div>
  </footer>
  <!-- / footer -->
  <script src="app/assets/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="app/assets/js/bootstrap.js"></script>
  <!-- App -->
  <script src="app/assets/js/app.js"></script>
  <script src="app/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="app/assets/js/app.plugin.js"></script>
  <script type="text/javascript" src="app/assets/js/jPlayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="app/assets/js/jPlayer/add-on/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="app/assets/js/jPlayer/demo.js"></script>
