<body class="">
  <section class="vbox">
  <%= render 'layouts/header' %>
  <section>
    <section class="hbox stretch">

      <section id="content">
        <section class="hbox stretch">
          <section>
            <section class="vbox">
              <section class="scrollable padder-lg w-f-md" id="bjax-target">
                <!-- <script>window.twttr = (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                      t = window.twttr || {};
                    if (d.getElementById(id)) return t;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);

                    t._e = [];
                    t.ready = function(f) {
                      t._e.push(f);
                    };

                    return t;
                  }(document, "script", "twitter-wjs"));</script> -->
                <%= render 'layouts/tracks_view' %>
                <div class="row">
                  <%= render partial: 'layouts/new_songs', locals: { tracks: @tracks } %>
                  <%= render partial: 'layouts/top_songs', locals: { top_tracks: @top_tracks } %>
                </div>
              </section>
              <%= render partial: 'layouts/react_player', locals:{track_url: @track_url}%>
            </section>
          </section>
          <!-- side content -->
          <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
      </section>
    </section>
  </section>
  <script src="assets/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/bootstrap.js"></script>
  <!-- App -->
  <script src="assets/app.js"></script>
  <script src="assets/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/app.plugin.js"></script>
  <script type="text/javascript" src="assets/jPlayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="assets/jPlayer/add-on/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="assets/jPlayer/demo.js"></script>
  <!-- <script>!function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;js.src="//platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js,fjs);}} (document,"script","twitter-wjs");
  </script> -->
</body>
