<body class="">
  <section class="vbox">
  <%= render 'layouts/header' %>
  <section>
    <section class="hbox stretch">
      <%= render 'layouts/aside' %>
      <section id="content">
        <section class="hbox stretch">
          <section>
            <section class="vbox">
              <section class="scrollable padder-lg w-f-md" id="bjax-target">
                <%= render 'layouts/tracks_view' %>
                <div class="row">
                  <%= render 'layouts/new_songs' %>
                  <%= render 'layouts/top_songs' %>
                </div>
              </section>
              <%= render 'layouts/player' %>
            </section>
          </section>
          <!-- side content -->
          <!-- / side content -->
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
      </section>
    </section>
  </section>
  <script src="assets/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/bootstrap.js"></script>
  <!-- App -->
  <script src="assets/app.js"></script>
  <script src="assets/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/app.plugin.js"></script>
  <script type="text/javascript" src="assets/jPlayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="assets/jPlayer/add-on/jplayer.playlist.min.js"></script>
  <script type="text/javascript" src="assets/jPlayer/demo.js"></script>
</body>
